@use 'base';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  padding: 1em;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0em;
  font-family: base.$akshar;
  font-size: 3em;
}

.description {
  margin: 0em;
  font-family: base.$redhat;
  font-size: 2em;
}